extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{ pagina }

                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla placerat lectus nec aliquam tristique. Donec semper non diam vel vehicula. Vivamus vitae venenatis tortor. Suspendisse condimentum ex vel mi aliquam mollis. Phasellus ultricies faucibus efficitur. Integer fermentum massa ex, non vehicula neque placerat vel. Curabitur rutrum placerat leo, vel scelerisque ipsum volutpat vel. Phasellus interdum maximus augue, in auctor dui aliquam in.

                p Suspendisse sit amet mollis diam. Sed dignissim, nulla a efficitur tincidunt, massa mauris auctor purus, at lobortis mi odio vitae lacus. Morbi non nulla nibh. Duis sit amet hendrerit sapien. Quisque eget diam dictum, euismod augue in, ullamcorper elit. Etiam a molestie leo, vel vulputate purus. Cras placerat interdum turpis ac mattis. Nam odio lectus, posuere nec felis sollicitudin, cursus tincidunt nunc. 

                p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras posuere mauris est, a imperdiet lectus auctor quis. Suspendisse aliquam consectetur justo, id tempus risus bibendum ut. Quisque lobortis sagittis iaculis. Curabitur tempor finibus fermentum. Maecenas vitae scelerisque ligula. Curabitur vestibulum commodo placerat. Curabitur quis augue sit amet mauris fringilla vestibulum.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="ícono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas id doloremque quam voluptate pariatur deleniti quod sed facilis sequi, enim corrupti quibusdam in similique. Quae, dignissimos. Numquam nostrum dicta deleniti?

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="ícono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas id doloremque quam voluptate pariatur deleniti quod sed facilis sequi, enim corrupti quibusdam in similique. Quae, dignissimos. Numquam nostrum dicta deleniti?

                .col-md-4
                    img(src="img/icono_precios.svg", alt="ícono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas id doloremque quam voluptate pariatur deleniti quod sed facilis sequi, enim corrupti quibusdam in similique. Quae, dignissimos. Numquam nostrum dicta deleniti?